@using Dfc.FindACourse.Common;
@using Dfc.FindACourse.Web.HtmlHelpers;
@using Dfc.FindACourse.Web.ViewModels.CourseDirectory;
@model Dfc.FindACourse.Web.ViewModels.CourseDirectory.CourseSearchResultViewModel;

@{
    ViewData["Title"] = "CourseSearchResult";
}

<h2>CourseSearchResult</h2>

