@using Dfc.FindACourse.Common;
@using Dfc.FindACourse.Web.HtmlHelpers;
@using Dfc.FindACourse.Web.ViewModels.CourseDirectory;
@model Dfc.FindACourse.Web.ViewModels.CourseDirectory.IndexViewModel;

@{
    ViewData["Title"] = "Index";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Find a course</h1>
        <p>Search for training and learning opportunities at all levels. We’ll show you courses from colleges, training providers and local education authorities. <a href="https://nationalcareersservice.direct.gov.uk/contact-us/home">Contact an adviser</a> if you need help finding the right course for you.</p>
        <form 
              id="FindACourseForm" 
              name="FindACourseForm" 
              method="get" 
              asp-controller="CourseDirectory" 
              asp-action="CourseSearchResult">
            <div class="form-group">
                <label class="form-label" for="SubjectKeyword">
                    Course name
                    <span class="form-hint">For example, Engineering or Hairdressing</span>
                </label>
                <div class="select-editable">
                    <span asp-validation-for="SubjectKeyword"></span>
                    <input asp-for="SubjectKeyword"
                           class="form-control form-control-1-1"
                           autocomplete="off"
                           placeholder="Enter a course name or subject" />
                    <ul id="course-list"></ul>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="QualificationLevel">
                    Qualification level (Optional)
                    <span class="form-hint">
                        <a target="_blank" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">What qualification levels mean</a>
                    </span>
                </label>
                @*<dfc-select class="form-control form-control-1-1" id="QualificationLevel" name="QualificationLevel"
                    dfc-items="Html.GetEnumSelectList<QualificationLevel>()"
                    dfc-ignored-item-values="@(new Enum[] { QualificationLevel.Level9, QualificationLevel.LevelNa })">
                    <option value="">Select level</option>
                </dfc-select>*@
                <select class="form-control form-control-1-1" id="QualificationLevel" name="QualificationLevel">
                    @foreach (var item in Model.QualificationLevels)
                    {

                        <option value="@item.Value">
                            @item.Text
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="form-label" for="Location">
                    Location (Optional)
                    <span class="form-hint">Enter a postcode or town. For example, S1 1WB or Sheffield</span>
                </label>
                <input id="Location"
                        class="form-control"
                        name="Location"
                        placeholder="Postcode or town"
                        autocomplete="off"
                        data-suggestion-url="/suggest-town/"
                        type="text"
                        value="" />
                <dfc-select id="LocationRadius"
                            name="LocationRadius"
                            class="form-control form-control-1-4"
                            dfc-items="Html.GetEnumSelectList<RadiusDistance>()"
                            dfc-selected-item="Html.GetEnumSelectListItem<IndexViewModel, RadiusDistance>(Model.DefaultRadiusDistance)">
                </dfc-select>
            </div>
            <div class="form-group">
                <input class="button" type="submit" id="Search" name="Search" value="Search">
            </div>
        </form>
    </div>
</div>
