<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
      <add key="LiveCourseSearch" value="___LiveCourseSearch___" />
      <add key="LiveCourseDetails" value="___LiveCourseDetails___" />
      <add key="TestCourseSearch" value="___TestCourseSearch___" />
      <add key="TestCourseDetails" value="___TestCourseDetails___" />
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ServiceInterface">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apitest.coursedirectoryproviderportal.org.uk/CourseSearchService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceInterface"
                contract="CourseSearchService.ServiceInterface" name="BasicHttpBinding_ServiceInterface" />
        </client>
    </system.serviceModel>
</configuration>