.accordion {
    border: 2px solid $grey-2;
    margin-bottom: 1em;

    .accordion-header {
        position: relative;
        background-color: $grey-2;
        padding: 5px 1em 4px 1em;
        cursor: pointer;

        &:focus, &:hover {
            outline: 2px solid $focus-colour;
        }

        .accordion-header-icon {
            position: absolute;
            right: 1em;
            top: 0.7em;
            width: 0;
            height: 0;
            border-color: $black;
        }

        a, .accordion-subheading {
            @include core-14($line-height: (20 / 14), $line-height-640: (15 / 12), $tabular-numbers: false, $font-weight: 400);
        }
    }

    &.accordion--state-close {
        .accordion-panel {
            display: none;
        }
    }

    .accordion-panel {
        padding: 1em 2em 1em 2em;

        .form-group {
            margin-bottom: 0;
        }
    }

    &.accordion--state-open {
        .accordion-header {
            .accordion-header-icon {
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid;
            }
        }
    }

    &.accordion--state-close {
        .accordion-header {
            .accordion-header-icon {
                border-top: 4px solid transparent;
                border-left: 4px solid;
                border-bottom: 4px solid transparent;
            }
        }
    }
}
