.form-control-1-1 {
    width: 100%;
    border-color: #efefef;
    padding: 5px;
    height: 40px;

    @include media(tablet) {
        width: 100;
    }
}

.input-validation-error {
    @extend .form-control-error;
    background-color: $error-background;
}

.field-validation-error {
    @extend .error-message;
}

.form-label .field-validation-error,
.form-label-bold .field-validation-error {
    padding-top: 4px;
    padding-bottom: 0;
}

.error {
    margin-right: $gutter-half;

    @include media(tablet) {
        border-left: 5px solid $error-colour;
        padding-left: $gutter-half;
    }
}

.form-control-1-1:focus, .form-control:focus {
    outline: 3px solid #FFBF47;
}

.input-layout{
    width:80%

}

.form-control {
    border-color: #efefef;
    padding: 5px;
    height: 40px;
}
#LocationRadius {
    position: relative;
    left: -10px;
}

.auto-complete-container ul  {
    height: auto;
}

.form-group {
    margin-bottom: 0;

    .multiple-choice {
        margin-bottom: 15px
    }
}

.index-page .form-group {
    margin-bottom: 30px;
}