.pagination {
    display: inline-block;
    float: right;

    &.page-top {
        margin: 0;
    }

    &.page-bottom {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .pagination-item {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        text-decoration: underline;

        &.current {
            text-decoration: none;
            color: $black;
            cursor: default;
        }
    }
}
