.search-result-item {
    border-bottom: 1px solid $grey-2;
    margin-top: 1.5em;
    padding-bottom: 1.5em;

    &:last-child {
        border-bottom: 3px solid $black;
    }

    h3 {
        font-size: 1.17em;
        font-weight: bold;

        a:focus {
            outline: 3px solid $yellow;
            outline-offset: 0;
            background-color: $yellow;
        }
    }

    .result-item-course-attendence-study-mode-info {
        list-style-type: none;
        margin-bottom: 1em;

        li {
            display: inline;
        }
    }

    .result-item-course-info {
        list-style-type: none;

        .label {
            color: $grey-1;
            display: inline-block;
            width: 4.62em;
            vertical-align: top;
        }

        .value {
            display: inline-block;
            width: 28em;
        }
    }
}

#FindACourseForm {
    padding-top: 50px;
}
