<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="utf-8" />
    <title>
        GOV.UK FAC QW Alpha
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" />

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="~/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="~/images/govuk-apple-touch-icon.png">

    <link href="~/dist/css/site.min.css" asp-append-version="true" rel="stylesheet" />

    @*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" />*@

    @*<!--[if lte IE 8]><link href="~/css/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
        <!--[if gt IE 8]><!-->
        <link href="~/css/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
        <link href="~/css/icons.css" media="screen" rel="stylesheet" type="text/css" />*@

    <meta property="og:image" content="~/images/govuk-opengraph-image.png">
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P768LJ5');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P768LJ5"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
        <div>
            <a href="#content" class="skiplink"></a>
        </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <!--<header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
                        <img src="/images/govuk-logotype-crown.png" width="36" height="32" alt=""> GOV.UK TEST
                    </a>
                </div>
            </div>
            <div class='header-proposition'>
                <div class='content'>
                    <a href='/govuk_template/' id='proposition-name'>Digital First Careers Services</a>
                </div>
            </div>
        </div>
    </header>-->

    <header class="with-proposition" id="global-header" role="banner">
        <div class="header-wrapper">
            <div class="header-proposition">
                <div class="content">
                    <a class="js-header-toggle menu" href="#proposition-links">Menu</a>
                    <nav id="proposition-menu">
                        <a href="https://nationalcareersservice.direct.gov.uk/" id="proposition-name">National Careers Service</a>
                        <ul id="proposition-links">

                            <li>
                                <a href="https://nationalcareersservice.direct.gov.uk/skills-health-check" id="nav-SHC" target="_self">Skills health check</a>
                            </li>
                            <li class="active">



                                <a href="/" id="nav-EC" target="_self">Find a course <span class="phase-tag">ALPHA</span></a>
                            </li>
                            <li>
                                <a href="https://nationalcareersservice.direct.gov.uk/contact-an-adviser" id="nav-CA" target="_self">Contact an adviser</a>
                            </li>
                            <li>
                                <a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" target="_self">About us</a>
                            </li>
                            <li>
                                <a href="https://nationalcareersservice.direct.gov.uk/get-a-job" id="nav-HTG" target="_self">Help to get a job</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div id="global-header-bar"></div>


    @if (!string.IsNullOrWhiteSpace(ViewBag.SurveyBannerLink))
    {
        <div class="govuk-phase-banner govuk-header__container--full-width">
            <p class="govuk-phase-banner__content" style="width: 990px;margin-left: auto;margin-right: auto;padding-left: 30px;">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    alpha
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service - your <a class="govuk-link" href="@ViewBag.SurveyBannerLink" target="_blank">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    }

    <div id="content-container" class="@ViewBag.ContentContainerClass">
        <main id="content" role="main">
            @RenderBody()
        </main>
    </div>


    <footer class="group js-footer" id="footer" role="contentinfo">
        <div class="footer-wrapper">
            <div class="footer-meta">
                <div class="footer-meta-inner">
                    <div class="open-government-licence">
                        <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                        <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
                    </div>
                </div>
                <div class="copyright">
                    <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <partial name="_ScriptsPartial" />

    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
</body>

@RenderSection("Scripts", required: false)

</html>
