<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="config_setting" value="androidnative" xdt:Transform="Insert"/>
    <add key="browserName" value="android" xdt:Transform="Insert"/>
    <add key="device" value="Samsung Galaxy S8" xdt:Transform="Insert"/>
    <add key="realMobile" value="true" xdt:Transform="Insert"/>
    <add key="os_version" value="7.0" xdt:Transform="Insert"/>
    <add key="name" value="androidnative" xdt:Transform="Insert"/>
  </appSettings>
</configuration>