<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="capabilities">
       <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="useBS" value="true" />
    <add key="BaseUrl" value="__BaseUrl__" />
    <add key="user" value="__BrowserStackUser__" />
    <add key="key" value="__BrowserStackKey__" />
    <add key="server" value="hub-cloud.browserstack.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ZapStartFile" value="C:\Program Files\OWASP\Zed Attack Proxy\ZAP.exe"/>
    <add key="ZapWorkingDirectory" value="C:\Program Files\OWASP\Zed Attack Proxy"/>
    <add key="ZapScanStatusUrl" value="http://zap/JSON/ascan/view/status/"/>
    <add key="ZapScanUrl" value="http://zap/JSON/ascan/action/scan/?url=##&amp;recurse=&amp;inScopeOnly="/>
    <add key="ZapSpiderUrl" value="http://zap/JSON/spider/action/scan/?url=##"/>
    <add key="ZapSpiderStatusUrl" value="http://zap/JSON/spider/view/status/"/>
    <add key="ZapReportUrl" value="http://zap/OTHER/core/other/xmlreport/"/>
    <add key="ZapProxy" value="http://localhost.:8095"/>
  </appSettings>

  <capabilities>
    <parallel>
      <add key="build" value="Browserstack-FindACourse" />
      <add key="name" value="parallel_test" />
      <add key="browserstack.debug" value="true" />
    </parallel>
  </capabilities>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
   <unitTestProvider name="NUnit" />
    </specFlow>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow.Parser" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.execution.desktop" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.4049" newVersion="2.4.0.4049" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.4049" newVersion="2.4.0.4049" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>