<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="config_setting" value="osxECsafari" xdt:Transform="Insert"/>
    <add key="browser" value="Safari" xdt:Transform="Insert"/>
    <add key="os" value="OS X" xdt:Transform="Insert"/>
    <add key="name" value="osxECsafari" xdt:Transform="Insert"/>
    <add key="browser_version" value="9.1" xdt:Transform="Insert"/>
    <add key="os_version" value="El Capitan" xdt:Transform="Insert"/>
  </appSettings>
</configuration>