<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="config_setting" value="iOSsafari" xdt:Transform="Insert"/>
    <add key="browserName" value="iPhone" xdt:Transform="Insert"/>
    <add key="device" value="iPhone 8" xdt:Transform="Insert"/>
    <add key="realMobile" value="true" xdt:Transform="Insert"/>
    <add key="os_version" value="11.0" xdt:Transform="Insert"/>
    <add key="name" value="iOSsafari" xdt:Transform="Insert"/>
  </appSettings>
</configuration>