<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="config_setting" value="osxHSchrome" xdt:Transform="Insert"/>
    <add key="browser" value="Chrome" xdt:Transform="Insert"/>
    <add key="os" value="OS X" xdt:Transform="Insert"/>
    <add key="name" value="osxHSchrome" xdt:Transform="Insert"/>
    <add key="browser_version" value="68.0" xdt:Transform="Insert"/>
    <add key="os_version" value="High Sierra" xdt:Transform="Insert"/>
  </appSettings>
</configuration>