<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="config_setting" value="osxHsafari" xdt:Transform="Insert"/>
    <add key="browser" value="Safari" xdt:Transform="Insert"/>
    <add key="os" value="OS X" xdt:Transform="Insert"/>
    <add key="name" value="osxHsafari" xdt:Transform="Insert"/>
    <add key="browser_version" value="10.0" xdt:Transform="Insert"/>
    <add key="os_version" value="Sierra" xdt:Transform="Insert"/>
  </appSettings>
</configuration>