<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="config_setting" value="win10chrome" xdt:Transform="Insert"/>
    <add key="browser" value="chrome" xdt:Transform="Insert"/>
    <add key="os" value="windows" xdt:Transform="Insert"/>
    <add key="name" value="win10chrome" xdt:Transform="Insert"/>
    <add key="browser_version" value="68.0" xdt:Transform="Insert"/>
    <add key="os_version" value="10" xdt:Transform="Insert"/>
  </appSettings>
</configuration>