<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="config_setting" value="win10IE" xdt:Transform="Insert"/>
    <add key="browser" value="IE" xdt:Transform="Insert"/>
    <add key="os" value="windows" xdt:Transform="Insert"/>
    <add key="name" value="win10IE" xdt:Transform="Insert"/>
    <add key="browser_version" value="11.0" xdt:Transform="Insert"/>
    <add key="os_version" value="10" xdt:Transform="Insert"/>
  </appSettings>
</configuration>